@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Telex:wght@400&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #EFE5DC; height: 97vh; margin: 0; font-family: 'Roboto', sans-serif;">
    <div class="about-us" style="display: flex; justify-content: center; align-items: center;">
        <div class="upcon" style="display: flex; justify-content: center; align-items: center; max-width: 1200px; margin-top: -1rem;">
            <div class="upcon-text" style="margin-right: 6rem; text-align: center; font-size: 1rem; color: #000000;">
                <h2 style="font-family: 'Roboto Condensed', sans-serif; font-style: italic; font-weight: 1000; color: #666B44;">About us</h2>
                <p>Furfect Care is your pet's ultimate sanctuary, where they receive exceptional care and attention tailored to their individual needs. With a passion for pets and a commitment to excellence, we go above and beyond to ensure every furry friend feels loved and cherished during their visit. Join our family today and discover why Furfect Care is the perfect choice for your beloved pet..</p>
            </div>
            <div class="upcon-icons mb-3" style="margin-left: 10rem; display: flex; flex-direction: column; align-items: center;">
                <div class="upcon-icon-1" style="background: url('/images/icons/PetCareLogo1.png') 50% / cover no-repeat; margin-bottom: 0rem; width: 14rem; height: 14rem;"></div>
                <div class="upcon-icon-2" style="background: url('/images/icons/FurfectCare.png') 50% / cover no-repeat; width: 17.3rem; height: 3rem;"></div>
            </div>
        </div>
    </div>
    <div style="background: #E9CBAB; padding: 2rem 2rem 2rem 2rem; width:100%;">
        <div class="row justify-content-center">
            <div style="width: 200px; height: 200px;">
                <div class="bath-brush" style="background: #AD9275; color: #FFFFFF; text-align: center; padding: 1rem; border-radius: 1rem; height: 100%;">
                    <div class="bath-brush-icon mb-3"><img src="/images/icons/bath-brush.png" alt="Bath & Brush" style="width: 30px;"></div>
                    <h6 class="bath-brush-title">BATH & BRUSH</h6>
                    <p class="bath-brush-text" style="font-size: 0.6rem;">Shampooing and conditioning the pet's fur to remove dirt, debris, and odors. Also, removing tangles, knots, and mats from the pet's coat to prevent discomfort and skin issues.</p>
                </div>
            </div>
            <div style="width: 200px; height: 200px;">
                <div class="hair-cut" style="background: #98A17E; color: #FFFFFF; text-align: center; padding: 1rem; border-radius: 1rem; height: 100%;">
                    <div class="hair-cut-icon mb-3"><img src="/images/icons/hair-cut.png" alt="Hair Cut" style="width: 30px;"></div>
                    <h6 class="hair-cut-title">HAIR CUT</h6>
                    <p class="hair-cut-text" style="font-size: 0.8rem;">Trimming and shaping the pet's fur according to breed standards or owner preferences.</p>
                </div>
            </div>
            <div style="width: 200px; height: 200px;">
                <div class="ear-cleaning" style="background: #AD9275; color: #FFFFFF; text-align: center; padding: 1rem; border-radius: 1rem; height: 100%;">
                    <div class="ear-cleaning-icon mb-3"><img src="/images/icons/ear-cleaning.png" alt="Ear Cleaning" style="width: 30px;"></div>
                    <h6 class="ear-cleaning-title">EAR CLEANING</h6>
                    <p class="ear-cleaning-text" style="font-size: 0.9rem;">Removing dirt, wax, and debris from the pet's ears to prevent infections.</p>
                </div>
            </div>
            <div style="width: 200px; height: 200px;">
                <div class="teeth-brushing" style="background: #98A17E; color: #FFFFFF; text-align: center; padding: 1rem; border-radius: 1rem; height: 100%;">
                    <div class="teeth-brushing-icon mb-3"><img src="/images/icons/teeth-brushing.png" alt="Teeth Brushing" style="width: 30px;"></div>
                    <h6 class="teeth-brushing-title">TEETH BRUSHING</h6>
                    <p class="teeth-brushing-text" style="font-size: 0.8rem;">Cleaning the pet's teeth to prevent dental issues and promote oral hygiene.</p>
                </div>
            </div>
            <div style="width: 200px; height: 200px;">
                <div class="nail-trimming" style="background: #AD9275; color: #FFFFFF; text-align: center; padding: 1rem; border-radius: 1rem; height: 100%;">
                    <div class="nail-trimming-icon mb-3"><img src="/images/icons/nail-trimming.png" alt="Nail Trimming" style="width: 30px;"></div>
                    <h6 class="nail-trimming-title">NAIL TRIMMING</h6>
                    <p class="nail-trimming-text" style="font-size: 0.8rem;">Clipping or grinding the pet's nails to maintain proper length and prevent overgrowth.</p>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
