@{
    ViewData["Title"] = "Privacy";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#EFE5DC;">
    <div class="container mt-5">
       
        <div class="row justify-content-center">
            <!-- Center the content horizontally -->
            <div class="col-md-8">
                <div class="mb-3 text-center">
                    <!-- Center the content horizontally -->
                    <img src="~/images/icons/Newlogo.png" alt="Privacy Policy Image" style="max-width: 300px;">
                    <p>
                        "At Furfect Care, we take your privacy seriously and are committed to protecting your personal information. Any personal data collected through our website, services, or interactions with us will be used solely for the purpose of providing you with the best possible experience and fulfilling our contractual obligations, if any. We will never sell or share your information with third parties without your explicit consent, except as required by law or to fulfill our contractual obligations. We use industry-standard security measures to protect your data from unauthorized access, alteration, disclosure, or destruction. By using our website or services, you consent to the collection and use of your personal information as outlined in this privacy policy.".
                    </p>
                </div>
                <!-- Add your privacy policy content here -->
            </div>
        </div>
    </div>
</body>
</html>

